@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.shop-logo{
    font-family: 'Pacifico', cursive;
}

.nav-link{
    border: 2px solid transparent;
}

.nav-link:hover{
    border-bottom: 2px solid #fff;
}

.nav-link.active{
    border-bottom: 2px solid #fff;
    padding-bottom: 1px;
}